body, html{
    height:100%;
    margin:0;
    font-size:14px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:2em;
    color:rgb(216, 75, 75);
    background-color: transparent;
  }

.p1, .p2, .p3, .p4{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
}

.p1{
      background-image:url(../img/img1.jpg);
      min-width: 100%;
      min-height: 100%;
  }

.p2{
    background-image:url(../img/img2.jpg);
    min-width: 100%;
    min-height: 200%;
  }

.p3{
    background-image:url(../img/img3.jpg);
    min-width: 100%;
    min-height: 300%;
  }

.p4{
    background-image:url(../img/img4.jpg);
    min-width: 100%;
    min-height: 100%;
  }

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:rgb(202, 236, 77);
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}


.ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
    text-align: center;
  }

.ptext .border-T{
    background-color:transparent;
    text-align: center;
  }

.sec-d{
    text-align:center;
    background-color:#f4f4f4;
    color:#666;
    /* padding:50px 80px; */
  }
  
.sec-l{
    text-align: center;
    background-color:#f4f4f4;
    color:#666;
  }

  @media(max-width:568px){
    .p1, .p2, .p3, .p4{
      background-attachment:scroll;
    }
  }